.modal {
    padding: min(9vw, 64px);
}

.overlayModal {
    position: fixed;
    inset: 0px;
    background-color: rgba(25, 26, 21, 0.6);
}

@media screen and (max-width: 655px) {
    .modal {
        padding: min(6vw, 64px);
    }
}