header {
    padding: 24px 0;
    border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}

.logo {
    color: var(--Green);
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.logo span {
    color: var(--Main);
    padding-left: 2px;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 min(8.88888888888889vw, 128px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}