.psychologistName+p {
    margin-bottom: 8px;
}

.infoList {
    margin-bottom: 24px;
}

.psychologistAboutText {
    margin-bottom: 14px;
}

.psychologistAboutTextMb {
    margin-bottom: 48px;
    max-height: fit-content;
}

.btnAppointment {
    background-color: var(--Green);
    border-radius: 30px;
    padding: 14px 32px;
    color: var(--White);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.16px;
    transition: background-color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-top: 40px;
    cursor: pointer;
}

.btnAppointment:hover {
    background-color: var(--Btn-hover);
}