@import './reset.css';
@import "tailwindcss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Main: #191A15;
    --Green: #54BE96;
    --Btn-hover: #36A379;
    --Light-green: rgba(84, 190, 150, 0.2);
    --White: #FBFBFB;
    --Photo-border: rgba(84, 190, 150, 0.2);
}

body {
    padding: 0;
    margin: 0;
    color: #191A15;
    font-family: Inter;
    background-color: #F3F3F3;
    line-height: 24px;
    font-size: 16px;
}

.container {
    width: 320px;
    padding: 0 10px;
    margin: 0 auto;
}

@layer utilities {
    .responsive-gap {
        gap: calc(8px + (16 - 8) * ((100vw - 320px) / (1440 - 320)));
    }

    .px-container {
        padding-inline: min(8.88888888888889vw, 128px);
    }
}