.container {
    max-width: 1440px;
    width: 100%;
    padding: 78px min(8.88888888888889vw, 128px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 88px;
}

.mainTextContainer {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    flex-basis: 40%;
    max-width: 595px;
}

.mainTitle {
    color: var(--Main);
    font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 600;
    line-height: calc(41px + (82 - 41) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: -1.6px;
    margin-bottom: 20px;
}

.mainTitle>span {
    color: var(--Green);
    font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1440 - 320)));
    font-style: italic;
    font-weight: 600;
    line-height: calc(41px + (82 - 41) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: -1.6px;
}

.mainTitle+p {
    color: var(--Main);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
    max-width: 510px;
}

.getStartedLink {
    color: var(--White);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 18px 50px;
    border-radius: 30px;
    background-color: var(--Green);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.getStartedLink:hover {
    background-color: var(--Btn-hover);
}

.getStartedLinkIcon {
    width: 18px;
}

.wrapperRightCont {
    max-width: calc(100vw - (8.88888888888889vw * 2));
}

.rightContainer {
    position: relative;

}

.mainImg {
    max-width: 464px;
    height: auto;
    width: 100%;
}

.usersGroup {
    width: calc(40px + (48.173 - 40) * ((100vw - 320px) / (1440 - 320)));
    height: calc(40px + (48.173 - 40) * ((100vw - 320px) / (1440 - 320)));
    transform: rotate(15deg);
    flex-shrink: 0;
    background-color: #FBC75E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: -7%;
}

.usersGroupIcon {
    width: calc(17px + (19.836 - 17) * ((100vw - 320px) / (1440 - 320)));
    height: calc(17px + (19.836 - 17) * ((100vw - 320px) / (1440 - 320)));
    transform: rotate(5deg);
    flex-shrink: 0;
    fill: var(--White);
}

.questionGroup {
    width: calc(34px + (40 - 34) * ((100vw - 320px) / (1440 - 320)));
    height: calc(34px + (40 - 34) * ((100vw - 320px) / (1440 - 320)));
    transform: rotate(-15deg);
    flex-shrink: 0;
    background-color: #4535AF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: -6%;
}

.questionGroupIcon {
    transform: rotate(15deg);
    width: calc(15px + (17 - 15) * ((100vw - 320px) / (1440 - 320)));
    height: calc(15px + (17 - 15) * ((100vw - 320px) / (1440 - 320)));
    flex-shrink: 0;
    fill: var(--White);
}

.lowerWrapper {
    border-radius: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    background: var(--Green);
    padding: 2.2222222222222223vw;
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 19%;
    left: -10%;
}

.iconContainer {
    width: calc(30px + (54 - 30) * ((100vw - 320px) / (1440 - 320)));
    height: calc(30px + (54 - 30) * ((100vw - 320px) / (1440 - 320)));
    flex-shrink: 0;
    border-radius: calc(7px + (13 - 7) * ((100vw - 320px) / (1440 - 320)));
    background: var(--White);
    padding: calc(7.5px + (12 - 7.5) * ((100vw - 320px) / (1440 - 320)));
}

.iconCheck {
    width: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    height: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    flex-shrink: 0;
    fill: var(--Green);
}

.text {
    color: rgba(251, 251, 251, 0.50);
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    line-height: normal;
    margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (1440 - 320)));
}

.textNumbers {
    color: var(--White);
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
}